.leaderboard-table-frame {
    width: 100%;
    height: 90%;
}

.leaderboard-table-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-blue) var(--panel-dark);
}

.leaderboard-table-wrapper table {
    width: 100%;
    border-collapse: collapse;
}

/* Scrollbar Styles for Table Wrapper */
.leaderboard-table-wrapper::-webkit-scrollbar {
    width: 10px;
}

.leaderboard-table-wrapper::-webkit-scrollbar-track {
    background: var(--panel-dark);
    border-radius: 8px;
}

.leaderboard-table-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--accent-blue);
    border-radius: 8px;
    border: 2px solid var(--panel-dark);
    /* adds padding around thumb */
}

.leaderboard-table-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--bright-blue-brand-highlights);
}

.leaderboard-table-wrapper th {
    padding: 0.75rem 1rem;
    text-align: left;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-dark);
    white-space: nowrap;
    font-family: var(--font-heading);
    color: var(--neutral-text);
    letter-spacing: 0.05em;
    background: #1C212A;
    position: sticky;
    top: 0;
    z-index: 5;
}

.leaderboard-table-wrapper td {
    padding: 0.35rem 0.85rem;
    text-align: left;
    font-size: 0.75rem;
    border-bottom: 1px solid var(--border-dark);
    white-space: nowrap;
}

.leaderboard-table-wrapper tbody tr:hover {
    background: rgba(59, 130, 246, 0.1);
    transition: background 0.2s ease-in-out;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
    font-size: 0.9rem;
    color: var(--text-secondary);
}

.pagination button {
    background: var(--accent-blue);
    color: #fff;
    font-weight: 300;
    width: 80px;
    cursor: pointer;
    border: 1px solid var(--bright-blue-brand-highlights);
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.3);
    padding: 4px 4px 4px 4px;
    border-radius: 8px;
    font-size: 0.75rem;
    border: none;
    transition: all 0.2s ease-in-out;
}

.pagination button:hover:not(:disabled) {
    background: var(--accent-blue);
    transform: scale(1.03);
}

.pagination button:disabled {
    opacity: 0.6;
    pointer-events: none;
    background-color: var(--border-dark);
    font-weight: 300;
    width: 80px;
    color: var(--muted-text);
    padding: 4px 4px 4px 4px;
    border-radius: 8px;
    font-size: 0.75rem;
    border: none;
    cursor: not-allowed;
}

.pagination span {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--neutral-text);
}

@media (max-width:786px) {
    .leaderboard-table-frame {
        overflow: scroll;
    }
}