:root {
    /* Fonts */
    --font-heading: 'Sora', sans-serif;
    --font-body: 'Inter', sans-serif;

    /* Colors */
    --bg-dark: #0D1117;
    --panel-dark: #161B22;
    --border-dark: #21262D;
    --text-primary: #E5E7EB;
    --text-secondary: #9CA3AF;
    --accent-blue: #3B82F6;
    --title-green: #00ffc6;
    --success-green: #22C55E;
    --darkgreen-shadow: #14532D;
    --greenglow-border: #16A34A;
    --error-red: #EF4444;
    --darkred-shadow: #7F1D1D;
    --redglow-border: #DC2626;
    --highlight-glow: rgba(34, 197, 94, 0.3);
    --bright-blue-brand-highlights: #3B82F6;
    --button-hover: #2563EB;
    --twitter-icons: #60A5FA;
    --twitter-alerts: #93C5FD;
    --neutral-text: #E5E7EB;
    --secondary-text: #9CA3AF;
    --muted-text: #6B7280;
    --logo-purple: #860fe0;
    --purple-dark: #5a0a8c;
}

/* General Reset */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    background-color: var(--bg-dark);
    color: var(--text-primary);

}


#welcome-title {
    font-family: var(--font-heading);
    font-size: 2.6rem;
    color: var(--accent-blue);
}

#welcome-subtitle {
    font-size: 1.2rem;
    color: var(--success-green);
    margin-top: 0.5rem;
}

.welcome-screen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.welcome-header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0a0f1a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 200, 0.1);
}

.logo {
    width: 20%;
    height: 100%;
    justify-content: start;
    display: flex;
    align-items: center;
}

.logo-content {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-content img {
    width: 180px;
    height: 84px;
    justify-items: left;
    align-items: center;
    object-fit: contain;
    margin-left: 10px;
}

.login {
    width: 20%;
    height: 100%;
    justify-content: end;
    display: flex;
    align-items: center;
}

.nav-content {
    width: 60%;
    display: flex;
}

.welcome-body {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: var(--bg-dark);
    background-image: url('../assets/background.png');
    /* optional background candlesticks */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main-layout {
    width: 100%;
    height: 100%;
}

.welcome-footer {
    width: 100%;
    height: 80px;
}