.how-it-work-title {
    color: var(--text-primary);
    font-size: 1.875rem;
    /* 30px (text-3xl) */
    font-weight: 700;
    /* bold */
    line-height: 1.25;
    /* tight */
    letter-spacing: -0.015em;
    padding-left: 1rem;
    /* px-4 */
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    /* pb-3 */
    padding-top: 1.25rem;
    /* pt-5 */
    text-align: center;
}

.how-it-work-cards-frame {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 3 cards side by side */
    gap: 1.5rem;
    /* gap-6 */
    padding: 40px 140px;
    /* p-4 */
    width: 100%;
    box-sizing: border-box;
    /* ensure padding is inside width */
}

.how-it-work-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* gap-4 */
    border-radius: 0.75rem;
    /* rounded-xl */
    border: 1px solid var(--accent-blue);
    /* border-primary/30 */
    padding: 0.8rem;
    /* p-6 */
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.how-it-work-cards:hover {
    border-color: rgba(59, 130, 246, 0.8);
    box-shadow: 0 0 12px 3px rgba(59, 130, 246, 0.5);
}

.how-it-work-cards-title {
    color: var(--accent-blue);
    /* text-primary */
    font-size: 2.25rem;
    /* text-4xl */
    line-height: 2.5rem;
}

.how-it-work-cards-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* 8px (gap-2) */
}

.how-it-work-cards-content-subtitle {
    color: var(--text-primary);
    font-size: 1.25rem;
    /* text-xl = 20px */
    font-weight: 700;
    /* bold */
    line-height: 1.25;
    /* tight */
}

.how-it-work-cards-content-text {
    color: var(--text-primary);
    /* text-white/70 */
    font-size: 0.875rem;
    /* text-sm = 14px */
    font-weight: 400;
    /* normal */
    line-height: 1.5;
    /* normal */
}