.landing-page {
    width: 100%;
    font-family: var(--font-heading);
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.hero-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* gap-6 */
    padding: 5rem 1rem;
    /* py-20 px-4 */
}


.about-section-frame {
    width: 100%;
}

.how-it-work-frame {
    width: 100%;
}

.reinforcement-bonding-curve-frame {
    width: 100%;
    color: var(--text-primary);
    overflow-x: hidden;
}

.fees-structure-frame {
    width: 100%;
}

.faq-structure-frame {
    width: 100%;
}

.footer-structure-frame {
    width: 100%;
}